spring :
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DATASOURCE_URL}
    username: ${DATASOURCE_USERNAME}
    password: ${DATASOURCE_PASSWORD}

  jpa:
    generate-ddl: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 100MB

  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          starttls.enable: true
          auth: true

  redis:
    host: ${REDIS_HOST}
    port: ${REDIS_PORT}

  jwt:
    secret: ${JWT_SECRET}
    valid:
      accessToken: 600000
      refreshToken: 600000

cloud:
  aws:
    credentials:
      access-key: ${AWS_ACCESS_KEY}
      secret-key: ${AWS_SECRET_KEY}
    region:
      auto: false
      static: ${AWS_REGION}
    stack:
      auto: false
    s3:
      bucket: ${AWS_S3_BUCKET}

dir : pet-profile
default:
  image-url: https://gaethering.s3.ap-northeast-2.amazonaws.com/default/%EA%B0%95%EC%95%84%EC%A7%803.jpeg

api-prefix: /api

logging:
  level:
    com:
      amazonaws:
        util:
          EC2MetadataUtils: ERROR